<div id="container">

  <ion-card>
    <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.l2DsZrBFvcxpGdqdZ7aljAHaE6?w=259&h=180&c=7&r=0&o=5&pid=1.7" />
    <ion-card-header>
      <ion-button id="open-action-sheet1" size="large"><strong>Reversi</strong></ion-button>
      <ion-action-sheet trigger="open-action-sheet1" header="Actions" [buttons]="actionSheetButtons1"></ion-action-sheet>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.P039NhGsfrbHL5trGCjWbAHaFj?w=243&h=182&c=7&r=0&o=5&pid=1.7" />
    <ion-card-header>
      <ion-button id="open-action-sheet2" size="large"><strong>Connect4</strong></ion-button>
      <ion-action-sheet trigger="open-action-sheet2" header="Actions" [buttons]="actionSheetButtons2"></ion-action-sheet>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.zEDykm6eTh9_CDfCP7Y4nAHaEK?w=299&h=180&c=7&r=0&o=5&pid=1.7" />
    <ion-card-header>
      <ion-button id="open-action-sheet3" size="large"><strong>Morpion</strong></ion-button>
      <ion-action-sheet trigger="open-action-sheet3" header="Actions" [buttons]="actionSheetButtons3"></ion-action-sheet>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

</div>